{% extends 'base.html' %} {% block title %}Edit Feedack{% endblock %} {% block
content %}

<h1 class="display-5">Edit Feedback</h1>

<form method="POST" action="/feedback/{{feedback.id}}/update">
  {{ form.hidden_tag() }} {% for field in form if field.widget.input_type
  !='hidden' %}
  <p>{{ field.label }} {{ field(class_="form-control") }}</p>
  {% endfor %}

  <button class="btn btn-success" type="submit">Edit</button>
</form>

<form method="POST" action="/feedback/{{feedback.id}}/delete">
  <button class="btn btn-danger">Delete</button>
</form>

{% endblock %}
