{% extends 'base.html' %} {% block title %}User Info and Feedack{% endblock %}
{% block content %}

<h1 class="display-5">User Info</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Feedback</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        {{user.username}}
        <form method="POST" action="/users/{{user.username}}/delete">
          <button class="fas fa-trash-alt"></button>
        </form>
      </td>
      <td>{{user.email}}</td>
      <td>{{user.first_name}}</td>
      <td>{{user.last_name}}</td>
      <td>
        {% for f in feedback %}
        <div><a href="/feedback/{{f.id}}/update">{{f.title}}</a></div>
        {% endfor %}
      </td>
    </tr>
  </tbody>
</table>
<div>
  <form action="/users/{{user.username}}/feedback/add">
    <button class="btn btn-info" type="submit">Add Feedback</button>
  </form>
</div>
{% endblock %}
